{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|join(',')}}</td>
                <td>****</td>
                <td>{{ user.nombrre~" "~user.apellido }}</td>
{#                <td>{{ user.apellido }}</td>#}
                <td>
                    <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}">Detalle</a>
                    <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
